<!-- footer.njk -->

<footer>
    <div class="col-12">
        <div class="col-4 icon">
            <div class="row" >
                <p>Home</p>
            </div>
            <div class="row" >
                <p>Previous Orders</p>
            </div>
            <div class="row" >
                <p>Settings</p>
            </div>
        </div>
    </div>
</footer>

