<!-- header.njk -->
<div class="container">
    <div class="header row">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <img src="../../content/img/settings_icon.png"
                    border="0" alt="Settings">
                  </div>
              </div>
        </div>
        <div class="col-4">
              <div class="row">
                  <div class="col-12">
                      <a target="banner" href="index.html" >
                        <img src="../../content/img/picky_logo_lone_black1x.svg"
                        border="0" alt="Banner">
                      </a>
                  </div>
              </div>
         </div>
         <div class="col-4">
             <div class="row">
                 <div class="col-12">
                    <img src="../../content/img/hamburger.png"
                    border="0" alt="Menu">
                </div>
            </div>
        </div>
    </div>
</div>




