<!-- header.njk -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <header>
               <center>
                  <a target="banner" href="index.html" >
                    <img src="../../content/img/picky_logo_black1x.svg"
                    border="0" alt="Banner">
                  </a>
               </center>
            </header>
        </div>
    </div>
</div>
