 #recommendations{
     display: none;
 }

 #set-user-1{
     float: right;
 }

 #restaurant{
    display: none;
 }

 #waiting{
    display: none;

    img{
        display: block;
        margin: 0 auto;
        height: 50px;
    }
 }

 #menu-choice {
    display: none;
 }

 #menu-success{
     display: none;
 }
 