 #recommendations{
     display: inline;
    button.recommendation{
        padding: 30px;
        width: 100%;
        margin-bottom: 20px;
    }

 }

 #set-user-1{
     float: right;
 }

 #restaurant{
    display: none;
 }

 #waiting{
    display: none;

    img{
        display: block;
        margin: 0 auto;
        height: 50px;
    }
 }

 #menu-choice {
    display: none;
 }

 #menu-success{
     display: none;
 }

 .people {
    display: block;
    text-align: center;

    img {
        display: inline;
        padding-bottom: 20px;
        height: 120px;
    }
 }

 .col-12 {
    display: inline-block;
 }

 .left {
    float: left;
 }

 .right {
    float: right;
 }