<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div class="col-12">

    <div id="recommendations">
        <button class="recommendation" id="recommendation1" data-value="1">
            <h2>Recommendation 1</h2>
        </button>
        <button class="recommendation" id="recommendation2" data-value="2">
            <h2>Recommendation 2</h2>
        </button>
        <button class="recommendation" id="recommendation3" data-value="3">
            <h2>Recommendation 3</h2>
        </button>
    </div>

    <div id="restaurant">
        <p>Restaurant</p>
    </div>

    <div id="restaurant-waiting">
        <p>Waiting</p>
    </div>

    <div id="menu-choice">

    </div>

    <div id="menu-success">

    </div>
</div>


{% endblock %}