<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div class="col-12 content">

    <div id="user-set">
        <div class="row">
            <div class="col-6">
                <button id="set-user-1">User 1</button>
            </div>
            <div class="col-6">
                <button id="set-user-2">User 2</button>
            </div>
        </div>
    </div>

    <div id="recommendations">
        
    </div>

    <div id="restaurant">
        
    </div>

    <div id="waiting">
        <img src="/content/img/ajax-loader.gif" class='waiting-icon'>
    </div>

    <div id="menu-choice">

    </div>

    <div id="menu-success">

    </div>
</div>


{% endblock %}