<!-- layout.njk -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="/manifest.json">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Picky">
    <link rel="apple-touch-icon" href="content/img/icon-152x152.png">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:200,400,600" rel="stylesheet">
    
    <title>Picky</title>

    <link rel="stylesheet" href="css/lib.css">
    <link rel="stylesheet" href="css/site.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="content/js/slick.min.js"></script>
    </script>
  </head>
  <body>
  
    <div class="container preview">
      <div class="row">
        {% include "partials/header.njk" %}
      </div>

      {% block content %} {% endblock %}
     
    </div>

    <script>
     $('.slick-main').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slick-nav'
    });
    $('.slick-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slick-main',
      dots: true,
      centerMode: true,
      focusOnSelect: true
    });
    </script
  </body>
</html>
