.icon{
    text-align: center;
    padding: 30px;
    display: inline;
    margin: 0 auto;

    &:not(:last-child){
        border-right: 2px solid $light-grey;
    }
}

.footer {
    width: 100%;
    bottom: 0;
    background-color: white;
}
